.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    border-radius: 30px;
    overflow: hidden;
    z-index: 1;
    background-image: url("/images/rosa.png");
    
  }
  
  .video-responsive iframe {
    left: 35%;
    right: 35%;
    top: 15%;
    height: 50%;
    width: 50%;
    position: absolute;
    
  }
  
  .video{
    height:300px;
    width:550px;
    position:relative;
    background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 0, 0.5),
    rgba(0, 0, 255, 0.5)
  ), url("/images/rosa.png");

    display:flex;
    justify-content:center;
    align-items:center;
}

.video iframe{
    height: 50%;
    width:50%;
}

.play{
    height:50px;
    width:50px;
    z-index: 1;
}

.container{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
}

  